<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first mt-2">
      <img src="https://znews-photo.zingcdn.me/w660/Uploaded/neg_etpyole/2021_11_28/al.jpg" id="icon" alt="User Icon"/>
    </div>

    <!-- Login Form -->
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div>
      <label> <span class="text-danger"
                    *ngIf="formGroup.controls.username.hasError('required')
                  && formGroup.controls.username.dirty">
            Vui lòng nhập tài khoản !</span></label>
        <input type="text" formControlName="username"placeholder="login" >
<!--      <input type="text" id="login" class="fadeIn second" formControlName="username" placeholder="login">-->
      </div>
      <div>
      <label> <span class="text-danger"
                    *ngIf="formGroup.controls.password.hasError('required')
                  && formGroup.controls.password.dirty">
            Vui lòng nhập mật khẩu !</span></label>
        <input type="password" formControlName="password">
<!--      <input type="password" id="password" class="fadeIn third" formControlName="password" placeholder="password">-->
      </div>
      <input type="submit" class="fadeIn fourth" value="Đăng nhập ">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Quên mật khẩu</a>
    </div>

  </div>
</div>
