<div class="product-card">
  <div class="product-card__detail">
    <div class="product-card__header">
      <h2 class="product-card__title">
        {{product.name}}
      </h2>

      <p class="product-card__subtitle">
        {{product.producer}}
      </p>

      <h2 class="product-card__price">
        <span>€</span>
        <span id="price-unit">{{product.price}}</span>
      </h2>

      <p class="product-card__description">
       {{product.content}}
      </p>

<!--      <div class="product-card__options">-->
<!--        <div class="product-card__quantity">-->
<!--          <p class="product-card__label">Số lượng</p>-->
<!--          <div class="product-card__number">-->
<!--            <button id="minus">−</button>-->
<!--            <input id="quantity" onchange="changeHandler()|async " value="1"/>-->
<!--            <button id="plus">+</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="product-card__total">-->
<!--        <p class="product-card__label">Tổng tiền</p>-->
<!--        <p class="product-card__total-price">-->
<!--          <span>€</span>-->
<!--          <span id="price-total"></span>-->
<!--        </p>-->
<!--      </div>-->

    </div>
    <div class="product-card__body">
      <div class="product-card__options">

      </div>
      <div class="product-card__options">

      </div>
    </div>
    <button class="product-card__button">
      Thêm vào giỏ hàng
    </button>
  </div>
  <div class="product-card__image">
    <img id="image1" class="image1" src="{{product.image}}"
         alt="black chair">
  </div>
</div>
