/*card*/
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardNew {
  margin: 30px auto;
  width: 200px;
  height: 200px;
  border-radius: 40px;
  /*box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);*/
  cursor: pointer;
  transition: 0.4s;
}

.cardNew .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.cardNew .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.cardNew .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.cardNew:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
  -5px -5px 30px 15px rgba(0,0,0,0.22);
}

/*.title-white {*/
/*  color: white;*/
/*}*/

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}



/*slide*/
/**{margin:0;padding:0;}*/

/*body{*/
/*  min-width:900px;*/
/*}*/
/* Slider */
#slider{
  width:100%;
  height:500px;
  position:relative;
  overflow:hidden;
}
@keyframes load{
  from{left:-100%;}
  to{left:0;}
}
.slides{
  width:400%;
  height:100%;
  position:relative;
  -webkit-animation:slide 30s infinite;
  -moz-animation:slide 30s infinite;
  animation:slide 30s infinite;
}
.slider{
  width:25%;
  height:100%;
  float:left;
  position:relative;
  z-index:1;
  overflow:hidden;
}
.slide img{
  width:100%;
  height:100%;
}
.slide img{
  width:100%;
  height:100%;
}
.image{
  width:100%;
  height:100%;
}
.image img{
  width:100%;
  height:auto;
}

/* Legend */
.legend{
  border:500px solid transparent;
  border-left:800px solid rgba(52, 73, 94, .7);
  border-bottom:0;
  position:absolute;
  bottom:0;
}

/* Contents */
.content{
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
}
.content-txt{
  width:400px;
  height:150px;
  float:left;
  position:relative;
  top:300px;
  -webkit-animation:content-s 7.5s infinite;
  -moz-animation:content-s 7.5s infinite;
  animation:content-s 7.5s infinite;
}
.content-txt h1{
  font-family:Arial;
  text-transform:uppercase;
  font-size:24px;
  color:#fff;
  text-align:left;
  margin-left:30px;
  padding-bottom:10px;
}
.content-txt h2{
  font-family:arial;
  font-weight:normal;
  font-size:14px;
  font-style:italic;
  color:#fff;
  text-align:left;
  margin-left:30px;
}

/* Switch */
.switch{
  width:120px;
  height:10px;
  position:absolute;
  bottom:50px;
  z-index:99;
  left:30px;
}
.switch > ul{
  list-style:none;
}
.switch > ul > li{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#333;
  float:left;
  margin-right:5px;
  cursor:pointer;
}
.switch ul{
  overflow:hidden;
}
.on{
  width:100%;
  height:100%;
  border-radius:50%;
  background:#f39c12;
  position:relative;
  -webkit-animation:on 30s infinite;
  -moz-animation:on 30s infinite;
  animation:on 30s infinite;
}

/* Animation */
@-webkit-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@-moz-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}

@-webkit-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@-moz-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@keyframes content-s{
  0%{left:-420px;}
  10%{left:20px;}
  15%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}

@-webkit-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@-moz-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

/*card list*/

.card {
  /*transition: .5s ease;*/
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  /*transition: all 0.3s ease 0s;*/

}
.card:hover{
  box-shadow: 0 15px 20px;
  /*transform: translateY(-30px);*/
}

.ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.ul .booking-card1 {
  float: left;
  position: relative;
  width: 300px;
  display: flex;
  flex: 0 0 125px;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: white;
  transition: 0.3s;
}
.text-navbar{
  font-size: 18px;
}

.ul .booking-card1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 72, 112, 0);
  transition: 0.3s;
}

.ul .booking-card1 .book-container {
  height: 200px;
}

.ul .booking-card1 .book-container .content {
  position: relative;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform: translateY(-200px);
  transition: 0.3s;
}

.ul .booking-card1 .book-container .content .btn {
  border: 3px solid white;
  padding: 10px 15px;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.ul .booking-card1 .book-container .content .btn:hover {
  background: white;
  border: 0px solid white;
  color: #0a4870;
}

.ul .booking-card1 .informations-container {
  flex: 1 0 auto;
  padding: 20px;
  /*background: #f0f0f0;*/
  transform: translateY(206px);
  transition: 0.3s;
}

.ul .booking-card1 .informations-container .title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.ul .booking-card1 .informations-container .title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 50px;
  margin: auto;
  background: orange;
}

.ul .booking-card1 .informations-container .price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.ul .booking-card1 .informations-container .price .icon {
  margin-right: 10px;
}

.ul .booking-card1 .informations-container .more-information {
  opacity: 0;
  transition: 0.3s;
}

.ul .booking-card1 .informations-container .more-information .info-and-date-container {
  display: flex;
}

.ul .booking-card1 .informations-container .more-information .info-and-date-container .box {
  flex: 1 0;
  padding: 15px;
  margin-top: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  font-weight: bold;
  font-size: 0.9em;
}

.ul .booking-card1 .informations-container .more-information .info-and-date-container .box .icon {
  margin-bottom: 5px;
}

.ul .booking-card1 .informations-container .more-information .info-and-date-container .box.info {
  color:  #0a4870;
  margin-right: 10px;
}

.ul .booking-card1 .informations-container .more-information .disclaimer {
  margin-top: 20px;
  font-size: 0.8em;
  color: #0a4870;
}

.ul .booking-card1:hover::before {
  background: rgba(10, 72, 112, 0.6);
}

.ul .booking-card1:hover .book-container .content {
  opacity: 1;
  transform: translateY(0px);
}

.ul .booking-card1:hover .informations-container {
  transform: translateY(0px);
}

.ul .booking-card1:hover .informations-container .more-information {
  opacity: 1;
}

​

@media (max-width: 768px) {
  .ul .booking-card::before {
    background: rgba(10, 72, 112, 0.6);
  }

  .ul .booking-card .book-container .content {
    opacity: 1;
    transform: translateY(0px);
  }

  .ul .booking-card .informations-container {
    transform: translateY(0px);
  }

  .ul .booking-card .informations-container .more-information {
    opacity: 1;
  }
}
 /*link hover*/
.ul {
  list-style: none;
}

body {
  line-height: 1.2;
  color: #333;
}

#wrapper {
  display: flex;
}

.ul#main-menu {
  display: flex;
  padding: 0;

}

.ul#main-menu h5 {
  display: block;
  padding: 10px 0px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  position: relative;
}

.ul#main-menu li {
  padding: 0 20px;
}

.ul#main-menu h5:after {
  font-size: 20px;
  content: "";
  height: 5px;
  width: 0;
  background-color: red;
  position: absolute;
  bottom: 0px;
  left: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;

}

.ul#main-menu h5:hover::after {
  width: 100%;

}

.navbar {
  padding: 0;
}

#info{
  margin-left: 10px;
}

/*ổ trợ card*/
.card-body a{
  color: black;
  text-decoration: none;
}
.card-body b{
  color: red;
}
.card-body a:hover {
  color: orange;
}


/*xem tiếp*/
.next a{
margin-left: 1200px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.next a:hover {
  color: red;
}

/*card giày*/
.product-grid{
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  border-radius: 15px;
  border: 1px solid black;
  overflow: hidden;
  transition: all 0.4s ease-out;
}
.product-grid:hover{ box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1); }
.product-grid .product-image{ position: relative; }
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
  /*width: 100%;*/
  height: auto;
}
.product-grid .product-discount-label{
  color: #fff;
  background: red;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  /*padding: 2px 8px;*/
  border-radius: 5px;
  position: absolute;
  top: 12px;
  left: 12px;
}
.product-grid .product-links{
  width: 145px;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 65%;
  left: 50%;
  transition: all 0.4s ease 0s;
}
.product-grid:hover .product-links{
  opacity: 1;
  top: 50%;
}
.product-grid .product-links li{
  display: inline-block;
  margin: 0 2px;
}
.product-grid .product-links li a{
  color: white;
  background: grey;
  font-size: 16px;
  line-height: 42px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: block;
  position: relative;
  transition: all 0.4s ease-out 0s;
}
.product-grid .product-links li a:hover{
  color: #fff;
  background: orange;
  box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.2);
}
.product-grid .product-links li a:before,
.product-grid .product-links li a:after{
  content: attr(data-tip);
  color: #fff;
  background-color: #555;
  font-size: 12px;
  line-height: 18px;
  padding: 5px 10px;
  white-space: nowrap;
  display: none;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -40px;
  transition: all 0.3s ease 0s;
}
.product-grid .product-links li a:after{
  content: '';
  height: 10px;
  width: 10px;
  padding: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -18px;
  z-index: -1;
}
.product-grid .product-links li a:hover:before,
.product-grid .product-links li a:hover:after{
  display: block;
}
.product-grid .product-content{
  padding: 12px 12px 15px;
  position: relative;
}
.product-grid .rating{
  padding: 0;
  margin: 0 0 8px;
  list-style: none;
}
.product-grid .rating li{
  color: orange;
  font-size: 14px;
}
.product-grid .rating .far{ color: #808080; }
.product-grid .title{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 15px;
}
.product-grid .title a{
  color: #2c2c2c;
  transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color: orange; }
.product-grid .price{
  color: orange;
  font-size: 17px;
  font-weight: 600;
  display: block;
  transition: all 0.4s ease-in-out;
}
.product-grid .price span{
  color: #999;
  font-weight: 500;
  text-decoration: line-through;
}
.product-grid:hover .price{ opacity: 0; }
.product-grid .add-to-cart{
  color: #fff;
  background-color: orange;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 40px;
  width: 140px;
  height: 40px;
  border-radius: 50px;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  bottom: 50px;
  left: 50%;
  transition: all .4s ease-out;
}
.product-grid .add-to-cart:hover{ background-color: #2f2f2f; }
.product-grid:hover .add-to-cart{
  opacity: 1;
  bottom: 8px;
}
@media screen and (max-width:900px){
  .product-grid{ margin: 0 0 30px; }
}
.product-content .title h3{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 15px;
}
.product-content.title a{
  color: #2c2c2c;
  transition: all 0.3s ease 0s;
}
.product-content.title a:hover{ color: orange; }


/*card vợt*/
.product-grid .product-button{
  position: relative;
  z-index: 1;
}
.product-grid .add-to{
  color: var(--text-color);
  background: #f4f4f4;
  font-size: 14px;
  width: calc(100% - 75px);
  padding: 8px 3px;
  margin: 0 auto;
  display: inline-block;
  transition: all 0.25s ease 0s;
}
.product-grid .add-to i{
  margin-right: 8px;
  display: none;
  visibility: hidden;
  transition: all 0.25s ease 0s;
}
.product-grid:hover .add-to{
  /*color:#fff;*/
  color: black;
  background: orange;
  border-radius: 10px;
}
.product-grid:hover .add-to i{
  display: inline-block;
  visibility: visible;
}
.product-grid .product-like,
.product-grid .product-compare{
  color: var(--text-color);
  background: #f4f4f4;
  line-height: 34px;
  width: 34px;
  height: 34px;
  opacity: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50px;
  z-index: -1;
  transition: all 0.25s ease 0s;
}
.product-grid .product-compare{
  left: auto;
  right: 50px;
}
.product-grid:hover .product-like{
  opacity: 1;
  left: 0;
}
.product-grid:hover .product-compare{
  opacity: 1;
  right: 0;
}
@media only screen and (max-width:990px){
  .product-grid{ margin-bottom: 30px; }
}
