<div class="row">
  <div id="slider">
    <div class="slides">
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
            <h1>Nam Huynh Sport</h1>
            <h2>Chúng tôi mang lại những sản phẩm chính hãng tốt nhất được những tuyển thủ chuyên nghiệp thế giới sử
              dụng.
              Hãy cùng nhau trãi nghiệm môn cầu lông tôt nhất.</h2>
          </div>
        </div>
        <div class="image">
          <img src="https://aocaulong.com/images/media/3056.png">
        </div>
      </div>
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
            <h1>Công nghệ FRTP TECH</h1>
            <h2>Đường kính siêu mỏng 6.6mm nâng cao hiệu suất tấn công trên sân.</h2>
          </div>
        </div>
        <div class="image">
          <img src="https://aocaulong.com/images/media/4072.png">
        </div>
      </div>
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
            <h1>BLADEX 800</h1>
            <h2>Sức mạnh của huyền thoại.</h2>
          </div>
        </div>
        <div class="image">
          <img src="https://aocaulong.com/images/media/4073.png">
        </div>
      </div>
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
            <h1>Nguyễn Thùy Linh</h1>
            <h2>Tuyển thủ nữ của Việt Nam lên ngôi ở nội dung đơn nữ giải Belgian International 2022.</h2>
          </div>
        </div>
        <div class="image">
          <img src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2021/7/28/935455/Nguyen-Thuy-Linh-Oly.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div style="background: black;height: 4px"></div>
</div>
<div class="row mt-5">
  <div class="col-lg-1"></div>
  <div class="col-lg-3">
    <hr>
  </div>
  <div class="col-lg-4">
    <!--  <div  style="margin: auto;color: black;width: 700px;border-radius: 20px;background:white;border:  solid black">-->
    <h2 style="text-align: center;color: red;border-radius: 10px;background: gainsboro"><b>CÁC LOẠI VỢT</b></h2>
    <!--  </div>-->
  </div>
  <div class="col-lg-3">
    <hr>
  </div>
  <div class="col-lg-1"></div>
</div>
<div class="row mt-3">
  <div class="col-lg-1"></div>
  <div class="col-lg-8 col-md-10 col-12">
    <nav class="navbar navbar-expand-lg navbar-waring">
      <div class="container-fluid" id="nav">
        <div class="collapse navbar-collapse" id="wrapper">
          <ul class="ul" id="main-menu">
            <li>
              <h5 class="text-dark" routerLink="">YONEX</h5>
            </li>
            <li>
              <h5 class="text-dark" routerLink="/list/premiere">MIZUNO</h5>
            </li>
            <li>
              <h5 class="text-dark" routerLink="/list/premiere">LI-NING</h5>
            </li>
            <li>
              <h5 class="text-dark" routerLink="/list/premiere">ADIDAS</h5>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </div>
  <div class="col-lg-3">
    <div class="header__search">
      <div class="header__search-input-wrap">
        <input type="text" class="header__search-input" placeholder="Tìm sản phẩm ..." [(ngModel)]="productNameSearch">
      </div>
      <button class="header__search-btn" (click)="paginate(productNameSearch,pageSize)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-search" viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
    </div>
  </div>
</div>


<!--card vợt-->
<div class="row nav justify-content-center mt-3">
  <div class="col-lg-1"></div>
  <div class="col-lg-10" style="border-radius: 20px">
    <div class="mb-5 mt-5" *ngIf="!action" style="color: orange;text-align: center">
      <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <h1>Sản phẩm đang cập nhật. Vui lòng chọn sản phẩm khác !</h1>
    </div>
    <div class="row" *ngIf="action">
      <div class="col-md-3 col-sm-6 col-ms-12 mb-4" *ngFor="let item of (productList$ |async)">
        <div class="product-grid">
          <div class="product-image">
            <a class="image">
              <img routerLink="/detail/{{item.id}}" class="pic-1" style="height: 250px"
                   src="{{item.image}}">
            </a>
            <span class="product-sale-label">hot</span>
            <span class="product-discount-label">-33%</span>
          </div>
          <div class="product-content">
            <ul class="rating">
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star disable"></li>
            </ul>
            <h3 class="title" routerLink="/detail/{{item.id}}"><a>{{item.name}}</a></h3>
            <div class="price">{{item.price}}</div>
            <div class="product-button">
              <a class="product-like"><i class="fas fa-heart"></i></a>
              <a href="#" class="add-to" (click)="addToCart(item)"><i class="fa fa-shopping-bag"></i>Thêm giỏ hàng</a>
              <a class="product-compare" href="#"><i class="fas fa-random"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1"></div>
</div>
<div class="row mt-4 mb-4 next">
  <div>
    <a *ngIf="pageSize <= (total$ | async)" (click)="nextPage()">Xem tiếp <i class="fa-solid fa-arrow-right"></i></a>
  </div>
</div>

<!--<div class="row">-->
<!--  <div style="background: black;height: 2px"></div>-->
<!--</div>-->
<div class="row mt-5">
  <div class="col-lg-1"></div>
  <div class="col-lg-3">
    <hr>
  </div>
  <div class="col-lg-4">
    <!--  <div  style="margin: auto;color: black;width: 700px;border-radius: 20px;background:white;border:  solid black">-->
    <h2 style="text-align: center;color: red;border-radius: 10px;background: gainsboro"><b>GIÀY CẦU LÔNG</b></h2>
    <!--  </div>-->
  </div>
  <div class="col-lg-3">
    <hr>
  </div>
  <div class="col-lg-1"></div>
</div>

<!--card giày-->
<div class="row nav justify-content-center mt-5">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <div class="mb-5 mt-5" *ngIf="!shoeAction" style="color: orange;text-align: center">
      <div class="spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <h1>Sản phẩm đang cập nhật. Vui lòng chọn sản phẩm khác !</h1>
    </div>
    <div class="row" *ngIf="shoeAction">
      <div class="col-lg-3 col-sm-6 mb-4" *ngFor="let item of (shoeList$ |async)">
        <div class="product-grid" style="width: 300px;">
          <div class="product-image">
            <a class="image">
              <img routerLink="/detail/{{item.id}}" class="pic-1" src="{{item.image}}">
            </a>
            <span class="product-discount-label">-33%</span>
            <!--            <ul class="product-links">-->
            <!--              <li><a href="#" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>-->
            <!--              <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li>-->
            <!--              <li><a href="#" data-tip="Quick View"><i class="fa fa-search"></i></a></li>-->
            <!--            </ul>-->
          </div>
          <div class="product-content">
            <ul class="rating">
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="far fa-star"></li>
              <li class="far fa-star"></li>
            </ul>
            <h3 class="title"><a routerLink="/detail/{{item.id}}">{{item.name}}</a></h3>
            <div class="price">{{item.price}}</div>
            <a class="add-to-cart">Thêm giỏ hàng</a>
          </div>
        </div>
      </div>
      <!--      <div class="col-lg-3 col-sm-6">-->
      <!--        <div class="product-grid" style="width: 300px">-->
      <!--          <div class="product-image">-->
      <!--            <a href="#" class="image">-->
      <!--              <img class="pic-1" src="https://cf.shopee.vn/file/66641d03ee93a051891c6290b7314eb8">-->
      <!--            </a>-->
      <!--            <span class="product-discount-label">-33%</span>-->
      <!--            <ul class="product-links">-->
      <!--              <li><a href="#" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>-->
      <!--              <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li>-->
      <!--              <li><a href="#" data-tip="Quick View"><i class="fa fa-search"></i></a></li>-->
      <!--            </ul>-->
      <!--          </div>-->
      <!--          <div class="product-content">-->
      <!--            <ul class="rating">-->
      <!--              <li class="fas fa-star"></li>-->
      <!--              <li class="fas fa-star"></li>-->
      <!--              <li class="fas fa-star"></li>-->
      <!--              <li class="far fa-star"></li>-->
      <!--              <li class="far fa-star"></li>-->
      <!--            </ul>-->
      <!--            <h3 class="title"><a href="#">Men's Blazer</a></h3>-->
      <!--            <div class="price"><span>$90.00</span> $66.00</div>-->
      <!--            <a class="add-to-cart" href="#">add to cart</a>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <div class="col-lg-3 col-sm-6">-->
      <!--        <div class="product-grid" style="width: 300px">-->
      <!--          <div class="product-image">-->
      <!--            <a href="#" class="image">-->
      <!--              <img class="pic-1" src="https://meta.vn/Data/image/2019/07/04/giay-the-thao-mizuno-thunder-blade-b.jpg">-->
      <!--            </a>-->
      <!--            <span class="product-discount-label">-33%</span>-->
      <!--            <ul class="product-links">-->
      <!--              <li><a href="#" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>-->
      <!--              <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li>-->
      <!--              <li><a href="#" data-tip="Quick View"><i class="fa fa-search"></i></a></li>-->
      <!--            </ul>-->
      <!--          </div>-->
      <!--          <div class="product-content">-->
      <!--            <ul class="rating">-->
      <!--              <li class="fas fa-star"></li>-->
      <!--              <li class="fas fa-star"></li>-->
      <!--              <li class="fas fa-star"></li>-->
      <!--              <li class="far fa-star"></li>-->
      <!--              <li class="far fa-star"></li>-->
      <!--            </ul>-->
      <!--            <h3 class="title"><a href="#">Men's Blazer</a></h3>-->
      <!--            <div class="price"><span>$90.00</span> $66.00</div>-->
      <!--            <a class="add-to-cart" href="#">add to cart</a>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <div class="col-lg-3 col-sm-6">-->
      <!--        <div class="product-grid" style="width: 300px">-->
      <!--          <div class="product-image">-->
      <!--            <a href="#" class="image">-->
      <!--              <img class="pic-1"-->
      <!--                   src="https://img.websosanh.vn/v10/users/keydes/images/cxjpz6nzmajt8/giay-cau-long-lining-1.jpg">-->
      <!--            </a>-->
      <!--            <ul class="product-links">-->
      <!--              <li><a href="#" data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>-->
      <!--              <li><a href="#" data-tip="Compare"><i class="fa fa-random"></i></a></li>-->
      <!--              <li><a href="#" data-tip="Quick View"><i class="fa fa-search"></i></a></li>-->
      <!--            </ul>-->
      <!--          </div>-->
      <!--          <div class="product-content">-->
      <!--            <ul class="rating">-->
      <!--              <li class="fas fa-star"></li>-->
      <!--              <li class="fas fa-star"></li>-->
      <!--              <li class="fas fa-star"></li>-->
      <!--              <li class="fas fa-star"></li>-->
      <!--              <li class="far fa-star"></li>-->
      <!--            </ul>-->
      <!--            <h3 class="title"><a href="#">Women's Shirt</a></h3>-->
      <!--            <div class="price">$79.90</div>-->
      <!--            <a class="add-to-cart" href="#">add to cart</a>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
  <div class="col-lg-1"></div>
</div>
<div class="row mt-4 mb-4 next">
  <div>
    <a *ngIf="pageSizeShoe <= (totalShoe$ | async)" (click)="shoeNextPage()">Xem tiếp <i
      class="fa-solid fa-arrow-right"></i></a>
  </div>
</div>

