<!-- footer section start -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3" style="background: red;border-radius: 20px">
        <a href="index.html"><img src="/assets/img/namlogo.png" style="border-radius: 20px" alt="" class="img-fluid logo-footer"></a>
        <div class="footer-about mt-3">
          <p style="font-size: 18px;color: white">Xin kính chào quý khách đã lựa chọn Nam Huỳnh Sport của chúng tôi. Hãy cùng nhau trải nghiệm và sở hữu những sản phẩm chính hãng tốt nhất. Xin chân thành cảm ơn quý khách !  </p>
        </div>

      </div>
      <div class="col-md-3">
        <div class="useful-link ps-5">
          <h2>Danh mục</h2>
          <img src="./assets/images/about/home_line.png"  alt="" class="img-fluid">
          <div class="use-links">
            <li><a href="index.html"> Trang chủ</a></li>
            <li><a href="about.html"> Giới thiệu</a></li>
            <li><a href="gallery.html"> Tag sản phẩm</a></li>
            <li><a href="contact.html"> Tin tức</a></li>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="social-links">
          <h2>Liên hệ</h2>
          <img src="./assets/images/about/home_line.png" alt="">
          <div class="social-icons">
            <li><a href="">Facebook</a></li>
            <li><a href=""> Instagram</a></li>
            <li><a href=""> Zalo</a></li>
          </div>
        </div>


      </div>
      <div class="col-md-3">
        <div class="address">
          <h2>Địa chỉ</h2>
          <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
          <div class="address-links">
            <li class="address1"> Kolathur ramankulam-
              Malappuram Dt
              Kerala 679338</li>
            <li><a href="" class="social-icons"> +91 90904500112</a></li>
            <li><a href="" class="social-icons"> mail@1234567.com</a></li>
          </div>
        </div>
      </div>

    </div>
  </div>

</footer>
<!-- footer section end -->
<!-- footer copy right section start -->
<section id="copy-right">
  <div class="copy-right-sec"><i class="fa-solid fa-copyright"></i>
    lorem ispum lorem ispum 2022 Powerd By <a href="#">lorem ispum</a>


  </div>

</section>
